<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<header>
    <!--  <nav>-->
    <nav class="p-3 mb-2 bg-dark text-white">
        <div class="text-white bg-dark"> </b></div>
        Your login is:
        <div th:inline="text" class="navbar-brand"> [[${#httpServletRequest.getRemoteUser()}]] with
            roles:
            ADMIN  </b></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
        </div>
        <div class="navbar-text"><a th:href="@{/logout}">Logout</a></div>
    </nav>
</header>


<div class="container-fluid" style="margin-top:30px">
    <div class="row align-items-start">
        <div class="col-2">
            <div class="nav flex-column nav-pills" aria-orientation="vertical">
                <a class="nav-link active" href="/admin" role="tab">Admin</a>
                <a class="nav-link nav-link" href="/user" role="tab">User</a>
            </div>
        </div>
        <div class="col-10">
            <h2>Admin panel</h2>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#users">Users table</a>
                    <a class="nav-link" data-toggle="tab" href="#newuser">New user</a>
                </div>
            </nav>
            <div class="tab-content">
                <div class="container tab-pane  active" id="users">
                    <div class="card">
                        <div class="card-header">
                            About user
                        </div>
                        <div class="card-body">
                            <table id="usersTable" class="table table-striped table-light table-hover">
                                <tbody
                                        id="usersTableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="myForm">
                        <form>
                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                 aria-labelledby="editModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="id" class="col-form-label">ID</label>
                                                <input type="text" class="form-control" id="id" name="id" value=""
                                                       readonly/>
                                            </div>
                                            <div class="form-group">
                                                <label for="username" class="col-form-label">Username</label>
                                                <input type="text" class="form-control" id="username"
                                                       name="username" value="" readonly/>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastname" class="col-form-label">Lastname</label>
                                                <input type="text" class="form-control" id="lastname"
                                                       name="lastname" value=""/>
                                            </div>
                                            <div class="form-group">
                                                <label for="age" class="col-form-label">Age</label>
                                                <input type="text" class="form-control" id="age"
                                                       name="age" value=""/>
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="col-form-label">E-Mail</label>
                                                <input type="text" class="form-control" id="email" name="email"
                                                       value=""/>
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="col-form-label">Password</label>
                                                <input type="text" class="form-control" id="password"
                                                       name="password"
                                                       value=""/>
                                            </div>
                                            <div class="form-group add-form">
                                                <label for="role" class="add-form">Role</label>
                                                <select multiple class="form-control" style="height: 60px"
                                                        id="role"
                                                        name="role">
                                                    <option id="ROLE_USER">ROLE_USER</option>
                                                    <option id="ROLE_ADMIN">ROLE_ADMIN</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary" data-dismiss="modal"
                                                    id="editBtn">Edit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div aria-hidden="true" aria-labelledby="delModalLabel" class="modal fade" id="delModal"
                         role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delModalLabel">Delete</h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal"
                                            type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="alert alert-danger">
                                        Are you sure you want to delete this user?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal"
                                            type="button">Close
                                    </button>
                                    <button type="submit" class="btn btn-danger" data-dismiss="modal" id="delBtn">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container tab-pane fade" id="newuser">
                    <div class="card">
                        <div class="card-header">
                            Add new user
                        </div>
                        <div class="container" align="center">
                            <div class="col-sm-4">
                                <form id="newUserForm">
                                    <div class="form-group">
                                        <label class="col-form-label" for="newUsername">Username:</label>
                                        <input class="form-control" id="newUsername" name="newUsername" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="newLastname">Lastname:</label>
                                        <input class="form-control" id="newLastname" name="newLastname" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="newPassword">Password:</label>
                                        <input class="form-control" id="newPassword" name="newPassword" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="newEmail">Email:</label>
                                        <input class="form-control" id="newEmail" name="newEmail" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="newAge">Age:</label>
                                        <input class="form-control" id="newAge" name="newAge" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group add-form">
                                            <label class="font-weight-bolder">Role</label>
                                            <select multiple class="form-control" style="height: 60px"
                                                    id="newUserRoles"
                                                    name="role">
                                                <option id="newUserRole">ROLE_USER</option>
                                                <option id="newADMINRole">ROLE_ADMIN</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success" id="newUserBtn">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<script src="../static/js/admin.js" th:src="@{js/admin.js}" type="text/javascript"></script>
</body>
</html>